In [5]:
import pandas as pd

# Load the Excel file
file_path = "C:\\Users\\HARSHITA VAISHNAV\\Desktop\\Business Analytics module3-1.xlsx"
data = pd.read_excel(file_path)

# Check the first few rows to understand the data structure
print(data.head())

# Convert date columns to datetime, coercing errors to NaT
data['sdate'] = pd.to_datetime(data['sdate'], errors='coerce')
data['EXPDATE'] = pd.to_datetime(data['EXPDATE'], errors='coerce')

# Calculate tenure in months, handling cases where dates might be NaT
data['tenure'] = (data['EXPDATE'] - data['sdate']).dt.days // 30

# Group by brand and tenure, then count the number of subscriptions
brand_tenure_count = data.groupby(['MAG', 'tenure']).size().reset_index(name='count')

# Display the result
print(brand_tenure_count)

# Save to a CSV file if needed
brand_tenure_count.to_csv('brand_tenure_count.csv', index=False)

   MAG SUBCODE MASTER_KEY  Unnamed: 3  Unnamed: 4    S  Unnamed: 6  \
0  OLT   81221       5148         NaN         NaN  NaN         NaN
1   OL  477892       5150         NaN         NaN  NaN         NaN
2   OL  477990       5159         NaN         NaN  NaN         NaN
3  OLM  188077       5167         NaN         NaN    S         NaN
4  OLH    8117       5168         NaN         NaN    S         NaN

  DESIGNATION  Unnamed: 8  Unnamed: 9  ...  Unnamed: 15  REGIONCODE  \
0       OWNER         NaN         NaN  ...          NaN         4.0
1         IPS         NaN         NaN  ...          NaN         6.0
2      OWNDER         NaN         NaN  ...          NaN         8.0
3         NaN         NaN         NaN  ...          NaN         8.0
4  CONSULTANT         NaN         NaN  ...          NaN         4.0

   Unnamed: 17 Unnamed: 18 Unnamed: 19  Unnamed: 20  NOOFCOPIES  \
0          NaN         NaN         NaN          NaN         1.0
1          NaN         NaN         NaN          NaN         1.0
2          NaN         NaN         NaN          NaN         1.0
3          NaN         NaN         NaN          NaN         1.0
4          NaN         NaN         NaN          NaN         1.0

                 sdate    EXPDATE  LASTEXPDA
0  2018-08-01 00:00:00 2025-02-01 2025-02-01
1  2022-03-11 00:00:00 2024-08-21 2024-08-21
2  2022-03-14 00:00:00 2024-09-01 2024-09-01
3  2019-03-01 00:00:00 2024-09-01 2024-09-01
4  2022-03-07 00:00:00 2024-06-24 2024-06-24

[5 rows x 25 columns]
     MAG  tenure  count
0     OL   -62.0      2
1     OL   -52.0      2
2     OL   -49.0      1
3     OL   -19.0      1
4     OL    -7.0      1
..   ...     ...    ...
439  OLT   137.0      1
440  OLT   138.0      1
441  OLT   145.0      5
442  OLT   148.0      1
443  OLT   154.0      1

[444 rows x 3 columns]

In [7]:
# Convert the 'EXPDATE' column to datetime, coercing errors to NaT
data['EXPDATE'] = pd.to_datetime(data['EXPDATE'], errors='coerce')

# Filter data for the period from May 2024 to March 2025
start_date = pd.Timestamp('2024-05-01')
end_date = pd.Timestamp('2025-03-31')
filtered_data = data[(data['EXPDATE'] >= start_date) & (data['EXPDATE'] <= end_date)]

# Extract the year and month from the 'EXPDATE'
filtered_data['YearMonth'] = filtered_data['EXPDATE'].dt.to_period('M')

# Group by brand ('MAG') and month ('YearMonth'), then count the number of subscriptions
brand_month_expiry_count = filtered_data.groupby(['MAG', 'YearMonth']).size().reset_index(name='count')

# Display the result
print(brand_month_expiry_count)

    MAG YearMonth  count
0    OL   2024-05    390
1    OL   2024-06    607
2    OL   2024-07    556
3    OL   2024-08    305
4    OL   2024-09    248
5    OL   2024-10    197
6    OL   2024-11    179
7    OL   2024-12    154
8    OL   2025-01    195
9    OL   2025-02    232
10   OL   2025-03    238
11  OLB   2024-05    316
12  OLB   2024-06    976
13  OLB   2024-07    751
14  OLB   2024-08    243
15  OLB   2024-09    112
16  OLB   2024-10    117
17  OLB   2024-11     95
18  OLB   2024-12     95
19  OLB   2025-01    104
20  OLB   2025-02     93
21  OLB   2025-03     95
22  OLH   2024-05    150
23  OLH   2024-06    343
24  OLH   2024-07    269
25  OLH   2024-08    153
26  OLH   2024-09    114
27  OLH   2024-10     88
28  OLH   2024-11     37
29  OLH   2024-12     51
30  OLH   2025-01     38
31  OLH   2025-02     41
32  OLH   2025-03     89
33  OLM   2024-05    465
34  OLM   2024-06    949
35  OLM   2024-07    829
36  OLM   2024-08    414
37  OLM   2024-09    325
38  OLM   2024-10    327
39  OLM   2024-11    305
40  OLM   2024-12    346
41  OLM   2025-01    334
42  OLM   2025-02    302
43  OLM   2025-03    262
44  OLT   2024-06   2029
45  OLT   2024-08    526
46  OLT   2024-10    332
47  OLT   2024-12    328
48  OLT   2025-02    412

C:\Users\HARSHITA VAISHNAV\AppData\Local\Temp\ipykernel_14380\3536791035.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['YearMonth'] = filtered_data['EXPDATE'].dt.to_period('M')

In [11]:
# Define a function to standardize city names
def standardize_city(city):
    if isinstance(city, str):  # Check if the city name is a string
        return city.split(' ')[0]
    return city  # Return as-is if not a string (e.g., NaN)

# Apply the standardization function
data['StandardizedCity'] = data['CITY'].apply(standardize_city)

# Group by brand and standardized city, then count the number of subscriptions
city_brand_count = data.groupby(['MAG', 'StandardizedCity']).size().reset_index(name='count')

# Sort and find the top 40 cities for each brand
top_cities_per_brand = city_brand_count.groupby('MAG').apply(lambda x: x.nlargest(40, 'count')).reset_index(drop=True)

# Display the result
print(top_cities_per_brand)

     MAG StandardizedCity  count
0     OL              NEW    376
1     OL        BANGALORE    309
2     OL           MUMBAI    153
3     OL          CHENNAI    107
4     OL        HYDERABAD    105
..   ...              ...    ...
195  OLT         HAMIRPUR     19
196  OLT        KASARAGOD     19
197  OLT          PANIPAT     19
198  OLT          SONIPAT     19
199  OLT           BHOPAL     18

[200 rows x 3 columns]

C:\Users\HARSHITA VAISHNAV\AppData\Local\Temp\ipykernel_14380\1532499568.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_cities_per_brand = city_brand_count.groupby('MAG').apply(lambda x: x.nlargest(40, 'count')).reset_index(drop=True)

In [13]:
# Ensure the gender column exists and is consistent
# Assuming the gender column is named 'GENDER' and contains values like 'M' for Male and 'F' for Female
data['S'] = data['S'].str.upper()  # Standardize the case

# Group by brand and gender, then count the number of subscriptions
gender_brand_count = data.groupby(['MAG', 'S']).size().reset_index(name='count')

# Pivot the data to have gender counts as columns for each brand
gender_pivot = gender_brand_count.pivot(index='MAG', columns='S', values='count').fillna(0)

# Calculate the gender ratio (Male to Female, M/F)
gender_pivot['Gender Ratio (M/F)'] = gender_pivot['M'] / gender_pivot['F']

# Display the result
print(gender_pivot)

S      &    /    ;     A     B     C     D    E    F     G  ...    Q     R  \
MAG                                                         ...
OL   1.0  2.0  0.0  29.0  30.0  21.0  26.0  0.0  4.0   7.0  ...  1.0  40.0
OLB  1.0  0.0  0.0  23.0   7.0  13.0  13.0  3.0  2.0  11.0  ...  0.0  20.0
OLH  2.0  0.0  0.0   7.0  14.0  14.0   7.0  0.0  0.0   3.0  ...  0.0  10.0
OLM  2.0  0.0  1.0  56.0  42.0  43.0  37.0  6.0  5.0  23.0  ...  0.0  62.0
OLT  1.0  0.0  0.0  22.0  21.0  22.0  20.0  2.0  2.0  13.0  ...  0.0  35.0

S        S     T    U     V    W    Y    Z  Gender Ratio (M/F)
MAG
OL   102.0   3.0  2.0  30.0  0.0  1.0  0.0                8.25
OLB   66.0   8.0  1.0  18.0  1.0  0.0  1.0               13.00
OLH   38.0   2.0  1.0   3.0  0.0  0.0  0.0                 inf
OLM  159.0  13.0  3.0  53.0  0.0  1.0  0.0                9.60
OLT   80.0   9.0  3.0  24.0  0.0  4.0  1.0               11.50

[5 rows x 29 columns]

In [15]:
# Group by brand and designation, then count the number of subscriptions
designation_brand_count = data.groupby(['MAG', 'DESIGNATION']).size().reset_index(name='count')

# Display the result
print(designation_brand_count)

     MAG      DESIGNATION  count
0     OL      (LIBRARIAN)      1
1     OL              A E      1
2     OL            A G M      1
3     OL              A M      2
4     OL  ACCOUNT OFFICER      1
..   ...              ...    ...
789  OLT              T L      1
790  OLT          TEACHER      3
791  OLT  TECH CONSULTANT      1
792  OLT     TOUR MANAGER      1
793  OLT              V P      5

[794 rows x 3 columns]

In [17]:
# Group by brand and city, then count the number of subscriptions
city_brand_count = data.groupby(['MAG', 'CITY']).size().reset_index(name='count')

# Calculate the total number of subscriptions per brand
total_brand_count = city_brand_count.groupby('MAG')['count'].sum().reset_index(name='total_count')

# Merge the total counts back with the original data
city_brand_count = city_brand_count.merge(total_brand_count, on='MAG')

# Calculate the contribution of each city to the total number of subscribers for the brand
city_brand_count['contribution'] = (city_brand_count['count'] / city_brand_count['total_count']) * 100

# Display the result
print(city_brand_count)

      MAG                CITY  count  total_count  contribution
0      OL     24 PARGANAS (N)      2         3345      0.059791
1      OL  24 PARGANAS (N) DT      1         3345      0.029895
2      OL     24 PARGANAS (S)      1         3345      0.029895
3      OL  24 PARGANAS (S) DT      2         3345      0.059791
4      OL         ADILABAD DT      1         3345      0.029895
...   ...                 ...    ...          ...           ...
2952  OLT       WEST GODAVARI      2         3897      0.051322
2953  OLT    WEST GODAVARI DT     11         3897      0.282268
2954  OLT         YAMUNANAGAR      5         3897      0.128304
2955  OLT      YAMUNANAGAR DT      1         3897      0.025661
2956  OLT         YAVATMAL DT      1         3897      0.025661

[2957 rows x 5 columns]

In [19]:
# Group by brand and state, then count the number of subscriptions
state_brand_count = data.groupby(['MAG', 'STA']).size().reset_index(name='count')

# Calculate the total number of subscriptions per brand
total_brand_count = state_brand_count.groupby('MAG')['count'].sum().reset_index(name='total_count')

# Merge the total counts back with the original data
state_brand_count = state_brand_count.merge(total_brand_count, on='MAG')

# Calculate the contribution of each state to the total number of subscribers for the brand
state_brand_count['contribution'] = (state_brand_count['count'] / state_brand_count['total_count']) * 100

# Display the result
print(state_brand_count)

     MAG  STA  count  total_count  contribution
0     OL  56A     55         3345      1.644245
1     OL  99A     29         3345      0.866966
2     OL   AP    276         3345      8.251121
3     OL  ARP      1         3345      0.029895
4     OL  ASM     45         3345      1.345291
..   ...  ...    ...          ...           ...
161  OLT   TN    214         3898      5.489995
162  OLT  TRI     23         3898      0.590046
163  OLT   UP    406         3898     10.415598
164  OLT  UTT     99         3898      2.539764
165  OLT   WB    208         3898      5.336070

[166 rows x 5 columns]